.workspace-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0f0f1a;
}

.workspace-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}
